{% extends 'common/layouts/auth.html' %}
{% block title %}Sign Up{% endblock %}
{% block content %}
    <div class="mx-auto flex min-h-screen max-w-md flex-col items-center justify-center gap-5">
        <form method="post" class="flex w-full flex-col gap-2 rounded-md bg-white p-6 shadow-md">
            <input type="text" name="username" placeholder="Username" class="rounded-md border p-2" required/>
            <input type="password" name="password" placeholder="Password" class="rounded-md border p-2" required/>
            <input type="terxt" name="store_name" placeholder="Store Name" class="rounded-md border p-2" required/>
            <button type="submit" class="rounded-md bg-blue-500 p-2 text-white">Create Account</button>
        </form>
    </div>
{% endblock %}
