{% extends 'common/layouts/base.html' %}
{% block head %}
    <title>Home</title>
{% endblock %}
{% block body %}
<div class="container">
    <h1 class="mt-5">Home</h1>
    <p>Welcome to the home page!</p>
    <span class="badge bg-primary">Primary</span>

    {% if session['logged_in'] %}
        <p>You are logged in as {{ session['username'] }}</p>
        <a href="/admin/sign-out" class="btn btn-primary">Logout</a>
    {% else %}
        <a href="/admin/sign-in" class="btn btn-primary">Sign In</a>
        <a href="/admin/sign-up" class="btn btn-primary">Sign Up</a>
    {% endif %}
</div>
{% endblock %}