{% extends 'common/layouts/main_layout.html' %}
{% block content %}
    <div class="mx-auto w-full max-w-5xl p-2">
        <form class="flex w-full flex-row justify-center gap-2" action="/admin/menu/{{ menu_id }}/update" method="post">
            <img class="rounded-md object-contain min-w-96 min-h-96" src="{{ detail.image_url }}">
            <div class="flex w-full flex-col gap-1 max-w-96">
                <input class="w-full rounded border p-2 text-lg" placeholder="음식 이름" value="{{ detail.name }}">
                <textarea class="w-full rounded border p-2 text-lg" placeholder="설명">{{ detail.description }}</textarea>
                <button class="rounded-md bg-zinc-800 p-2 text-white" type="submit">저장</button>
                <button class="rounded-md bg-white p-2 text-red-500" onclick="deleteMenu({{ menu_id }})">삭제</button>
            </div>
        </form>
    </div>

    <script>
        function deleteMenu(menuId) {
            if (confirm("정말 삭제하시겠습니까?")) {
                // delete menu
                fetch(`/admin/menu/${menuId}/delete`, {
                    method: 'POST',
                }).then(res => {
                    if (res.ok) {
                        alert("삭제되었습니다.");
                    }
                });
            }
        }
    </script>
{% endblock %}
